.body {
	margin: 0;
}

.content_wrap { 
	width: 800px;
	height: 525px;
	border: 1px black solid;
	margin: 18px auto 0 auto;
}

.message_canvas {
	width: 700px;
	height: 8000px;
	background-color: rgb(230,230,230);
}

.canvas_wrap {
	width: 700px;
	height: 400px;
	overflow: scroll;
	margin-top: 50px;
	margin-left: 50px;
	background-color: rgb(230,230,230);
}

.input_field {
	width: 650px;
	height: 20px;
	margin-left: 50px;
	margin-top: 5px;
	border: none;
	background-color: rgb(230,230,230);
}